* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;

  height: 100%;
}

.container {
  margin: 20px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
table {
  border: 2px solid #e6e2d3;
  border-radius: 5px;
  width: 600px;
  padding: 15px;
  border-spacing: 0 20px;
  gap: 30px;
}
table th,
table td {
  text-align: center;
}

th {
  font-size: 2rem;
}
td {
  font-size: 1.2rem;
  background-color: #e6e2d3;
}

.add-button {
  padding: 15px 12px;
  background-color: #008cba;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #f0f0f0;
  margin-bottom: 15px;
  border: none;
}

.edit-button,
.delete-button,
.create-event-button,
.save-button,
.cancel-button {
  height: 50px;
  width: 50px;
}

.edit-button,
.save-button,
.create-event-button {
  background-color: #008cba;
  border: none;
  margin-right: 5px;
}
.delete-button,
.cancel-button {
  background-color: #c94c4c;
  border: none;
}

@media (max-width: 600px) {
    * {
        font-size: 14px;
    }
  table {
    width: 400px;
  }
  .edit-button,
.delete-button,
.create-event-button,
.save-button,
.cancel-button {
  height: 30px;
  width: 30px;
}
}
